<%= form_with(model: team) do |form| %>
  <% if team.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
        <% team.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="mb-3">
    <%= form.label :name, class: "form-label"  %>
    <%= form.text_field :name, { class: "form-control" } %>
  </div>
  
  <div class="mb-3">
    <strong>Organization</strong>:
    <%= team.organization.name%>
  </div>
  
  <div class="mb-3">
    <strong>Team Created By</strong>:
    <%= team.user.full_name%>
    <%#= link_to(user_path(team.user.full_name, team.user))%>
  </div>
  
  <div class="mb-3">
    <%= form.label "Active or Inactive?", class: "form-label"  %>
    <%= form.checkbox :active %>
  </div>

  
  <!-- <div>
    https://signal.group/#CjQKIHhXPEksicNH8kFLl0NIamuGaDyKs1X18exsin3-wDGZEhCwS_jabmLJzfbqOxeHRl1U
  </div> -->

  <div>
    <%= form.submit %>
  </div>
<% end %>
