<div id="<%= dom_id team %>">
  <p>
    <strong>Name:</strong>
    <%= team.name %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= team.organization_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= team.user_id %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= team.active %>
  </p>

</div>
