<div id="<%= dom_id team %>">
  <p>
    <strong>Team Name:</strong>
    <%= team.name %>
  </p>

  <p>
    <strong>Organization Name:</strong>
    <%= team.organization.name %>
  </p>

  <p>
    <strong>Team Created By:</strong>
    <%= team.user.full_name %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= show_active(team) %>
  </p>
  <p>
    <strong>Team Size:</strong>
    <%= team.team_users.count %>
  </p>
  <p>
    <strong>Team Members: </strong>
    <%= team.team_users.map(&:user).map(&:full_name).join(", ")%>
  </p>


  <% if team.team_rules.any? %>
  <p>This team has these rules attached to it:</p>
    <ul>
      <% team.team_rules.each do |team_rule| %>
        <li><%= team_rule.rule.name %>
      <% end %>
    </ul>
  <% end %>
</div>
