<p style="color: green"><%= notice %></p>

<% content_for :title, "Teams" %>

<h1>Active Teams</h1>

<div id="teams">
  <!-- insert partial reference -->
  <%= render 'teams_header' %>
  
  <% @teams.each do |team| %>
    <%= render 'teams', {team: team} %>
  <% end %>
  <%= render 'teams_footer' %>
</div>

<%= link_to "New team", new_team_path %>
