<div id="<%= dom_id vetting_transcript %>">
  <p>
    <strong>Name:</strong>
    <%= vetting_transcript.name %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= vetting_transcript.organization_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= vetting_transcript.user_id %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= vetting_transcript.group_id %>
  </p>

  <p>
    <strong>Chat type:</strong>
    <%= vetting_transcript.chat_type %>
  </p>

  <p>
    <strong>Chat user:</strong>
    <%= vetting_transcript.chat_user %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= vetting_transcript.active %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= vetting_transcript.body %>
  </p>

  <p>
    <strong>Extracted objects:</strong>
    <%= vetting_transcript.extracted_objects %>
  </p>

</div>
