<div id="<%= dom_id event_task %>">
  <p>
    <strong>Name:</strong>
    <%= event_task.name %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= event_task.event_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= event_task.user_id %>
  </p>

  <p>
    <strong>Team:</strong>
    <%= event_task.team_id %>
  </p>

  <p>
    <strong>Done:</strong>
    <%= event_task.done %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= event_task.body %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= event_task.notes %>
  </p>

</div>
