<p style="color: green"><%= notice %></p>

<%= render @event_task %>

<div>
  <%= link_to "Edit this event task", edit_event_task_path(@event_task) %> |
  <%= link_to "Back to event tasks", event_tasks_path %>

  <%= button_to "Destroy this event task", @event_task, method: :delete %>
</div>
