<%= form_with(model: organization_rule) do |form| %>
  <% if organization_rule.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(organization_rule.errors.count, "error") %> prohibited this organization_rule from being saved:</h2>

      <ul>
        <% organization_rule.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :organization_id, style: "display: block" %>
    <%= form.text_field :organization_id %>
  </div>

  <div>
    <%= form.label :rule_id, style: "display: block" %>
    <%= form.text_field :rule_id %>
  </div>

  <div>
    <%= form.label :active, style: "display: block" %>
    <%= form.checkbox :active %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
