<p style="color: green"><%= notice %></p>

<%= render @event_slot_type %>

<div>
  <%= link_to "Edit this event slot type", edit_event_slot_type_path(@event_slot_type) %> |
  <%= link_to "Back to event slot types", event_slot_types_path %>

  <%= button_to "Destroy this event slot type", @event_slot_type, method: :delete %>
</div>
