<div id="<%= dom_id organization_role %>">
  <p>
    <strong>Name:</strong>
    <%= organization_role.name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= organization_role.user_id %>
  </p>

  <p>
    <strong>Team:</strong>
    <%= organization_role.team_id %>
  </p>

  <p>
    <strong>Job description:</strong>
    <%= organization_role.job_description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= organization_role.status %>
  </p>

</div>
