<div id="<%= dom_id contact_card %>">
  <p>
    <strong>First name:</strong>
    <%= contact_card.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= contact_card.last_name %>
  </p>

  <p>
    <strong>Full name:</strong>
    <%= contact_card.full_name %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= contact_card.company %>
  </p>

  <p>
    <strong>City:</strong>
    <%= contact_card.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= contact_card.state %>
  </p>

  <p>
    <strong>Congressional district:</strong>
    <%= contact_card.congressional_district %>
  </p>

  <p>
    <strong>County:</strong>
    <%= contact_card.county %>
  </p>

  <p>
    <strong>Is me:</strong>
    <%= contact_card.is_me %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= contact_card.organization_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= contact_card.user_id %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= contact_card.birthday %>
  </p>

  <p>
    <strong>Birth date:</strong>
    <%= contact_card.birth_date %>
  </p>

  <p>
    <strong>Birth year:</strong>
    <%= contact_card.birth_year %>
  </p>

  <p>
    <strong>Email primary:</strong>
    <%= contact_card.email_primary %>
  </p>

  <p>
    <strong>Email secondary:</strong>
    <%= contact_card.email_secondary %>
  </p>

  <p>
    <strong>Phone mobile:</strong>
    <%= contact_card.phone_mobile %>
  </p>

  <p>
    <strong>Phone secondary:</strong>
    <%= contact_card.phone_secondary %>
  </p>

  <p>
    <strong>Signal username:</strong>
    <%= contact_card.signal_username %>
  </p>

  <p>
    <strong>Discord username:</strong>
    <%= contact_card.discord_username %>
  </p>

  <p>
    <strong>Discord server:</strong>
    <%= contact_card.discord_server %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= contact_card.url %>
  </p>

  <p>
    <strong>Favorite movie:</strong>
    <%= contact_card.favorite_movie %>
  </p>

  <p>
    <strong>Favorite color:</strong>
    <%= contact_card.favorite_color %>
  </p>

  <p>
    <strong>Favorite coffee:</strong>
    <%= contact_card.favorite_coffee %>
  </p>

  <p>
    <strong>Favorite cocktail:</strong>
    <%= contact_card.favorite_cocktail %>
  </p>

  <p>
    <strong>Vip:</strong>
    <%= contact_card.vip %>
  </p>

  <p>
    <strong>Politician:</strong>
    <%= contact_card.politician %>
  </p>

  <p>
    <strong>Donor:</strong>
    <%= contact_card.donor %>
  </p>

  <p>
    <strong>Needs attention:</strong>
    <%= contact_card.needs_attention %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= contact_card.notes %>
  </p>

  <p>
    <strong>History:</strong>
    <%= contact_card.history %>
  </p>

</div>
