<p style="color: green"><%= notice %></p>

<%= render @contact_card %>

<div>
  <%= link_to "Edit this contact card", edit_contact_card_path(@contact_card) %> |
  <%= link_to "Back to contact cards", contact_cards_path %>

  <%= button_to "Destroy this contact card", @contact_card, method: :delete %>
</div>
