<div id="<%= dom_id event_volunteer %>">
  <p>
    <strong>First name:</strong>
    <%= event_volunteer.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= event_volunteer.last_name %>
  </p>

  <p>
    <strong>Pronouns:</strong>
    <%= event_volunteer.pronouns %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= event_volunteer.phone_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= event_volunteer.email %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= event_volunteer.event_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= event_volunteer.user_id %>
  </p>

  <p>
    <strong>How do you want to help:</strong>
    <%= event_volunteer.how_do_you_want_to_help %>
  </p>

</div>
