    <tr>
      <% if Rails.env.development? %>
      <td scope="row"><%= event_slot.id%></th>
        <% end %>
      <td class="text-center"><%= event_slot.event_slot_type.name %></td>
      <td><%= event_slot.name %></td>      
      <td class="text-center"><%= event_slot.duration %></td>

      <td class="text-center"><%#= event_slot.time_start.strftime("%H:%M") %></td>
      <td class="text-center"><%#= event_slot.time_end.strftime("%H:%M") %></td>
      <% if 3 == 4 %>
      <td class="text-center"><%= link_to(show_yes_no(event_slot.is_confirmed?), new_confirmation_path({:event_slot_id => event_slot.id})) %></td>
      <% end %>
            <% if current_user && current_user.has_editing_privileges? %>   
        <td scope="col" class="text-center"><%=link_to('edit', edit_event_slot_path(event_slot))%></th>      
      <% end %>
      
    </tr>
