<p style="color: green"><%= notice %></p>

<%= show_event_action_links(@event) %>

<%= render 'schedule', {event: @event}%>

<%= render @event %>


<%= render 'tasks', {event: @event} if current_user && current_user.is_admin? %>

<%= render 'speakers', {event: @event} if current_user && current_user.is_admin? %>

<div>
  <%= link_to "Edit this event", edit_event_path(@event) if current_user %>&nbsp;&nbsp;
  <%= link_to "Back to events", events_path %>
  <%= button_to "Destroy this event", @event, method: :delete if current_user %>
</div>
