<div id="<%= dom_id bank_deposit %>">
  <p>
    <strong>Name:</strong>
    <%= bank_deposit.name %>
  </p>

  <p>
    <strong>Date collected:</strong>
    <%= bank_deposit.date_collected %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= bank_deposit.amount %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= bank_deposit.event_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= bank_deposit.user_id %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= bank_deposit.organization_id %>
  </p>

  <p>
    <strong>Funds type:</strong>
    <%= bank_deposit.funds_type %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= bank_deposit.notes %>
  </p>

</div>
