<div id="<%= dom_id poll_option %>">
  <p>
    <strong>Name:</strong>
    <%= poll_option.name %>
  </p>

  <p>
    <strong>Poll:</strong>
    <%= poll_option.poll_id %>
  </p>

  <p>
    <strong>Widget type:</strong>
    <%= poll_option.widget_type %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= poll_option.value %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= poll_option.body %>
  </p>

</div>
