<p style="color: green"><%= notice %></p>

<%= render @team_rule %>

<div>
  <%= link_to "Edit this team rule", edit_team_rule_path(@team_rule) %> |
  <%= link_to "Back to team rules", team_rules_path %>

  <%= button_to "Destroy this team rule", @team_rule, method: :delete %>
</div>
