    <tr>
      
      <td scope="row"><%= project.id%></th>
      <td><%= project.project_type %></td>
      <td><%= link_to(project.name, project_path(project)) %></td>      
      <td><%= project.leader %></td>
      <td>

        
        <%#= link_to 'Upvote', upvote_project_path(project) %>
        <%#= form%>
        <%#= link_to 'Upvote', upvote_project_path(project), method: :post, data: { turbo: false } %>
        <%= link_to 'Upvote', upvote_project_path(project), data: { turbo_method: :post } %> | 
        <%= link_to 'Upvote', downvote_project_path(project), data: { turbo_method: :post } %>
        <%#= link_to "Upvote", upvote_project_path(project), data: { turbo_method: :post } %>
        <%#= link_to 'Downvote', downvote_project_path(project), method: :put %>
      </td>
      <td><%= project.votes_for.size%></td>
    </tr>
