    <tr>
      <td scope="row"><%= project.id%></th>
      <td><%= project.project_type %></td>
      <td><%= link_to(project.name, project_path(project)) %></td>      
      <td><%= project.leader %></td>
      <td><%= project.votes_for.size%></td>
    </tr>
