<div id="<%= dom_id project %>">
  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= project.organization_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= project.user_id %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= project.group_id %>
  </p>

  <p>
    <strong>Project type:</strong>
    <%= project.project_type %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= project.active %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= project.body %>
  </p>

</div>
