<div id="<%= dom_id project %>">
  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= project.organization.name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= project.user.full_name %>
  </p>

  <!-- <p>
    <strong>Group:</strong>
    <%#= project.group.name %>
  </p> -->

  <p>
    <strong>Project type:</strong>
    <%= project.project_type %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= project.active %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= project.body %>
  </p>


  <p>
    <strong>Due Date:</strong>
    <%= project.due_date %>
  </p>

</div>
