<div id="<%= dom_id event_slot %>">
  <p>
    <strong>Name:</strong>
    <%= event_slot.name %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= event_slot.event.name %>
  </p>

  <p>
    <strong>Event slot type:</strong>
    <%= event_slot.event_slot_type.name %>
  </p>

  <p>
    <strong>Speaker:</strong>
    <%= event_slot.speaker.name %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= event_slot.duration %>
  </p>

  <p>
    <strong>Computed start at:</strong>
    <%= event_slot.computed_start_at %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= event_slot.body %>
  </p>

</div>
