<%= form_with(model: event_slot) do |form| %>
  <% if event_slot.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(event_slot.errors.count, "error") %> prohibited this event_slot from being saved:</h2>

      <ul>
        <% event_slot.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="mb-3">
    <strong>Event</strong>: <%= @event_slot.event.name %>
  </div>

  <div class="mb-3">
    <strong>Event Type</strong>: <%= @event_slot.event_slot_type.name %>
  </div>


  <div class="mb-3">
    <strong>Speaker</strong>: <%= @event_slot.speaker.full_name %>
  </div>

  <div class="mb-3">
    <%= form.label :name, style: "display: block; width: 100%" %>
    <%= form.text_field :name, style: "width: 100%;" %>
  </div>



  <div class="mb-3">
    <%= form.label :duration, style: "display: block" %>
    <%= form.number_field :duration, style: "width: 100%;" %>
  </div>

  <div>
    <%= form.label :computed_start_at, style: "display: block" %>
    <%= form.time_field :computed_start_at, style: "width: 100%;" %>
  </div>

  <div  class="mb-3">
    <%= form.label :body, style: "display: block" %>
    <%= form.textarea :body, style: "width: 100%;" %>
  </div>
  
  <div class="mb-3">
    <%= form.label :speech_id, "Select the speaker's speech if they have it online", class: 'form-label' %>
    <%= form.select :speech_id, options_from_collection_for_select(@speeches, :id, :presentation_title), {}, class: 'form-select' %>
  </div>
  

  <div>
    <%= form.submit %>
  </div>
<% end %>
