<p style="color: green"><%= notice %></p>

<%= render @event_slot %>

<div>
  <%= link_to "Edit this event slot", edit_event_slot_path(@event_slot) %>
  <%= add_link_bar_spacer%>
  <%= link_to "Back to event slots", event_slots_path %>
  <%= add_link_bar_spacer%>
  <%= link_to "Back to Event", event_path(@event_slot.event)%>
  <%= add_link_bar_spacer%>
  <%= button_to "Destroy this event slot", @event_slot, method: :delete %>  
  
</div>
