<div id="<%= dom_id team_user %>">
  <p>
    <strong>Team:</strong>
    <%= team_user.team_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= team_user.user_id %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= team_user.active %>
  </p>

  <p>
    <strong>Leader:</strong>
    <%= team_user.leader %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= team_user.notes %>
  </p>

</div>
