<div id="<%= dom_id political_action %>">
  <p>
    <strong>Name:</strong>
    <%= political_action.name %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= political_action.active %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= political_action.organization_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= political_action.user_id %>
  </p>

  <p>
    <strong>Details:</strong>
    <%= political_action.details %>
  </p>

</div>
