<div id="<%= dom_id share_code %>">
  <p>
    <strong>Share code:</strong>
    <%= share_code.share_code %>
  </p>

  <p>
    <strong>User:</strong>
    <%= share_code.user_id %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= share_code.organization_id %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= share_code.event_id %>
  </p>

</div>
