<p style="color: green"><%= notice %></p>

<%= render @share_code %>

<div>
  <%= link_to "Edit this share code", edit_share_code_path(@share_code) %> |
  <%= link_to "Back to share codes", share_codes_path %>

  <%= button_to "Destroy this share code", @share_code, method: :delete %>
</div>
