<div id="<%= dom_id vetting_question %>">
  <p>
    <strong>Body:</strong>
    <%= vetting_question.body %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= vetting_question.organization_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= vetting_question.user_id %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= vetting_question.group_id %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= vetting_question.active %>
  </p>

</div>
