<div id="<%= dom_id event_prop %>">
  <p>
    <strong>Name:</strong>
    <%= event_prop.name %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= event_prop.organization_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= event_prop.user_id %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= event_prop.body %>
  </p>

</div>
