<p style="color: green"><%= notice %></p>

<%= render @event_prop %>

<div>
  <%= link_to "Edit this event prop", edit_event_prop_path(@event_prop) %> |
  <%= link_to "Back to event props", event_props_path %>

  <%= button_to "Destroy this event prop", @event_prop, method: :delete %>
</div>
