<div id="<%= dom_id organization %>">
  <p>
    <strong>Name:</strong>
    <%= organization.name %>
  </p>

  <p>
    <strong>City:</strong>
    <%= organization.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= organization.state %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= organization.location %>
  </p>

  <p>
    <strong>Organization type:</strong>
    <%= organization.organization_type %>
  </p>

</div>
