<div id="<%= dom_id event_attendance %>">
  <p>
    <strong>Event:</strong>
    <%= event_attendance.event_id %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= event_attendance.organization_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= event_attendance.user_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= event_attendance.status %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= event_attendance.name %>
  </p>

  <p>
    <strong>Ip address:</strong>
    <%= event_attendance.ip_address %>
  </p>

  <p>
    <strong>User agent:</strong>
    <%= event_attendance.user_agent %>
  </p>

</div>
