<p style="color: green"><%= notice %></p>

<%= render @event_attendance %>

<div>
  <%= link_to "Edit this event attendance", edit_event_attendance_path(@event_attendance) %> |
  <%= link_to "Back to event attendances", event_attendances_path %>

  <%= button_to "Destroy this event attendance", @event_attendance, method: :delete %>
</div>
