<div id="<%= dom_id rule %>">
  <p>
    <strong>Name:</strong>
    <%= rule.name %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= rule.organization_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= rule.user_id %>
  </p>

  <p>
    <strong>Team:</strong>
    <%= rule.team_id %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= rule.active %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= rule.body %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= rule.notes %>
  </p>

</div>
