    <tr>
      <% if current_user && current_user.is_superuser? %>      
        <td scope="row"><%= availability.id%></th>
      <% end %>
      <td><%= link_to(availability.user.full_name, user_path(availability.user)) %></td>      
      <td><%= availability.date_start %></td>
      <td><%= availability.date_end %></td>
      <td class="text-center"><%= show_availability(availability)%></td>
    </tr>
