<div id="<%= dom_id availability %>">
  <p>
    <strong>User:</strong>
    <%= availability.user_id %>
  </p>

  <p>
    <strong>Date start:</strong>
    <%= availability.date_start %>
  </p>

  <p>
    <strong>Date end:</strong>
    <%= availability.date_end %>
  </p>

  <p>
    <strong>Availability:</strong>
    <%= link_to(availability.availability, availability_path(availability)) %>
  </p>

</div>
