<div id="<%= dom_id speaker %>">
  <p>
    <strong>Name:</strong>
    <%= speaker.name %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= speaker.bio %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= speaker.url %>
  </p>

  <p>
    <strong>Pronouns:</strong>
    <%= speaker.pronouns %>
  </p>

  <p>
    <strong>Speaking count:</strong>
    <%= speaker.speaking_count %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= speaker.notes %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= speaker.organization_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= speaker.user_id %>
  </p>

</div>
